<!-- <div id="div1">
  <h4>Variables in css</h4>
</div>
<div id="div2">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione rerum sunt incidunt eius ducimus vitae aut veritatis perspiciatis ad, minima repellendus commodi provident numquam voluptate? Quo aspernatur, illum labore aliquid excepturi, libero laudantium velit laboriosam odit voluptate doloremque, commodi explicabo quibusdam? Dolore deserunt hic quasi et recusandae provident ea adipisci?
  </p>
</div>



<nav>
  <ul>
    <li><a href="Home">home</a></li>
    <li><a href="Gallery">gallery</a></li>
    <li><a href="Contact">contact</a></li>
    <li><a href="about us">about</a></li>
  </ul>
</nav>




<div>
  <button class="warn">basics</button>



  <button class="primary">login</button>



  <button class="info">register</button>
</div>


<div class="success">
  <p>your program runs succesfully</p>
</div>
<div class="error">
  <p>Something went wrong!</p>
</div>


<h1>First Heading</h1>
<h2>Second Heading</h2>
<h3>Third Heading</h3>
<h4>Fourth Heading</h4>


<p class="para1">lorem</p>
<p class="para2">lorem</p>
<p class="para3">lorem</p>
<p class="para4">lorem</p>
<p class="para5">lorem</p> -->



<!-- 




<p>
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>

<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p> -->




<!-- 
<div>

  <mat-card>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
    
  </div>
  

  <div>


    <mat-card>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
    


  </div>



  <div>


    <mat-card>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
    



  </div>  -->
<!-- 

  <p>your order status : {{orderStatus}}</p>

  <p>your online status : {{onlineStatus}}</p>

 -->


  <!-- <div>
    <form [formGroup]="studentDetails" (ngSubmit)="submit(form.value)">
    <label>Student Id</label>
    <input type="number" ngModel name="studentId">
    <label>Name</label>
    <input type="text" ngModel name="name">
    <label>Age</label>
    <input type="number" ngModel name="age">
    </form>
  </div> -->


  <div>
    <router-outlet></router-outlet>
  </div>